@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?fzfsbls');
  src:url('fonts/icomoon.eot?#iefixfzsfsbl') format('embedded-opentype'),
    url('fonts/icomoon.woff?fzfssbl') format('woff'),
    url('fonts/icomoon.ttf?fzfssbl') format('truetype'),
    url('fonts/icomoon.svg?fzfsbsl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter3:before {
  content: "\ea93";
}

.icon-github:before {
  content: "\eab1";
}

