$brand-primary: #b03834;
$icon-font-path: '/fonts/';
@import 'bootstrap';

// Box-sizing fix
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.GlyphiconGrid {
  position: relative;
  @include clearfix();

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    box-sizing: border-box;
    $margin: 3px;
    margin: $margin;
    width: calc(12.5% - #{$margin * 2} );
    height: 110px;
    padding: 30px 10px 10px 10px;
    float: left;

    color: white;
    background: $brand-primary;
    @include transition(background .2s ease);
    &:hover {background: darken($brand-primary, 10%)}
    text-align: center;
    .glyphicon {font-size: 32px; margin-bottom: 10px; display: block;}
  }
}